// snippet page that display all journal entries

.main--view-page
  each entry in entries
      time.time--view-page= entry.date
      .star-box--view-page
        p My Virtues
        ul.virtue-list--view-page
          each virtue in entry.virtueNames
            li.virtue__outer-box--view-page
              ul.virtue__inner-box--view-page
                li.virtue__name--view-page= virtue
                li.virtue__stars--view-page= entry.virtues[virtue]
        p#virtue-average.virtue-average Average Star Rating: #{entry.avgRating}
        p.text--view-page= entry.content
